body, html {
    margin: 0;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
}

.search-bar-cont {
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex
}

.search-bar {
    flex: 1;
    margin: 30px;
    padding: 1em;

    border: 4px solid black;
    outline: none;
    
    box-shadow: -8px -8px 0 black;

    font-family: "Courier New", monospace;

    transition: ease 0.5s;

    animation: typing 2s;
}

.search-bar:focus {
    background-color: #000;
    border-color: #808080;

    transform: translate(8px,8px);
        box-shadow: -16px -16px 0 black;


    color: #fff;
}

.search-bar:focus:hover {
    transform: translate(8px,8px);
}

.search-bar:focus::placeholder {
    color: #ffffffd0;
}


.search-bar:hover {
    transform: translate(8px,8px);

    box-shadow: -16px -16px 0 black;
}

.search-bar::placeholder {
    font-weight: bold;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes opening {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}


 /* Card */
.role-card-cont {
    flex: auto;

    padding: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px
}

.role-card {
    height: 350px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    
    border: 4px solid black;

    transition: all ease 0.5s;
}

.role-card:hover {
    box-shadow: 8px 8px 0 #000;
}

/* Card Content */
.rc-img-cont {
    flex: 1;

    overflow: hidden;
}

.rc-img {
    width: 100%;
}

.rc-info-cont {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.rc-name {
    font-family: "Courier New";
    padding: 0;
    margin: 8px;
}

.rc-type {
    font-size: small;
    font-style: italic;
    text-decoration: underline;

    margin: 2px;
}

.rc-tag-cont {
    padding:10px;
}

.rc-tag {
    height: 1.5em;
    width: 1.5em;

    background-color: #808080;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-local-cont {
    flex: auto;

    display: flex;
    align-items: flex-end;
    justify-content: end;
}
